* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 18px;
	font-family: Kumbh Sans;
}
.attribution {
	font-size: 11px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
section {
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card {
    width: 350px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    
}
.card-header {
    background-image: url(/Images/bg-pattern-card.svg);
    background-size: cover;
    height: 150px;
}