* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 18px;
	font-family: Kumbh Sans;
}
.attribution {
	font-size: 11px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
section {
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card {
    width: 350px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    text-align: center;    
}
.card-header {
    background-image: url(/Images/bg-pattern-card.svg);
    background-size: cover;
    height: 150px; 
}
.card-footer {
    border-top: 1px solid hsl(0, 3%, 86%);
    display: flex;
    padding: 0 25px;   
}   
.card-footer .item {
    flex: 1;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-holder {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden ;
    margin: -50px auto 30px auto; 
}
.img-holder img {
    width: 100%;
    height: auto;
    display: block;
}
.name-age {
    font-size: 1rem;
    margin-bottom: 20px;
}
.age,
.city,
.meta  {
    font-weight: 400;
    color: ;
    opacity: .6;
}
.age {
    font-weight: 400;
}